#dailies-sunday-filled {
    width: 50px;
    height: 50px;
    background-color: purple;
    color: white;
}

#dailies-sunday-empty {
    width: 50px;
    height: 50px;
    color: purple;
    background-color: white;
}

#dailies-monday-filled {
    width: 50px;
    height: 50px;
    background-color: purple;
    color: white;
}

#dailies-monday-empty {
    width: 50px;
    height: 50px;
    color: purple;
    background-color: white;
}

#dailies-tuesday-filled {
    width: 50px;
    height: 50px;
    background-color: purple;
    color: white;
}

#dailies-tuesday-empty {
    width: 50px;
    height: 50px;
    color: purple;
    background-color: white;
}

#dailies-wednesday-filled {
    width: 50px;
    height: 50px;
    background-color: purple;
    color: white;
}

#dailies-wednesday-empty {
    width: 50px;
    height: 50px;
    color: purple;
    background-color: white;
}

#dailies-thursday-filled {
    width: 50px;
    height: 50px;
    background-color: purple;
    color: white;
}

#dailies-thursday-empty {
    width: 50px;
    height: 50px;
    color: purple;
    background-color: white;
}

#dailies-friday-filled {
    width: 50px;
    height: 50px;
    background-color: purple;
    color: white;
}

#dailies-friday-empty {
    width: 50px;
    height: 50px;
    color: purple;
    background-color: white;
}

#dailies-saturday-filled {
    width: 50px;
    height: 50px;
    background-color: purple;
    color: white;
}

#dailies-saturday-empty {
    width: 50px;
    height: 50px;
    color: purple;
    background-color: white;
}

.weekday {
    width: 50px;
    height: 50px;
    border: 1px solid white;
}

#dailies-column-wrapper {
    /* margin-left: 30px; */
    height: 100%;
}

#dailies-column {
    display: flex;
    flex-direction: column;
    background-color: #edecee;
    align-items: center;
    border-radius: 5px;
    height: 98%;
}

#new-daily-title-input {
    background-color: #e0dfe1;
    margin: 5px;
    width: 280px;
    height: 50px;
    border: none;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
}

#single-daily-container {
    overflow: hidden;
    display: flex;
    /* justify-content: space-between; */
    background-color: white;
    border-radius: 5px;
    margin: 2px 5px;
    width: 280px;
    /* height: 150px; */
}

#single-daily-text-div {
    margin-left: 5px;
    text-align: left;
    /* border: 1px solid black; */
    width: 200px;
}

.daily-left-sidebar-orange {
    /* border: 1px solid black; */
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffbe5d;
}

.daily-left-sidebar-gray {
    /* border: 1px solid black; */
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #878190;
}

#daily-title-text {
    font-family: 'Roboto Condensed',sans-serif;
    font-size: 14px;
    text-align: left;
}

#daily-notes-text {
    font-family: 'Roboto Condensed',sans-serif;
    font-size: 12px;
    text-align: left;
}

#daily-count-span {
    font-size: 12px;
    text-align: right;
}

#daily-sidebar-checkbox-orange {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
    background-color: #ffdeae;
}

#daily-sidebar-checkbox-gray {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
    background-color: #c3c0c7;
}

#daily-sidebar-checkbox-gray:hover {
    cursor: pointer;
    visibility: hidden;
}

#daily-sidebar-checkbox-orange:hover {
    cursor: pointer;
    visibility: visible;
}

/* !!!CHECKBOX ICON TRUE */
#checkbox-icon-false {
   display: none;
    cursor: pointer;
}


/* !!!CHECKBOX ICON FALSE */
#checkbox-icon-true {
    visibility: visible;
    cursor: pointer;
}
