#footer-wrapper {
    background-color: #e1e0e3;
    /* position: absolute; */
    /* right: 0;
    left: 0;
    bottom: 0; */
    display: flex;
    flex-direction: column;
    font-family: 'Roboto Condensed', sans-serif;
    flex-grow: 1;
    /* margin-top: auto; */
}

#bug-report-button:hover {
    cursor: pointer;
}

#photo-of-me {
    height: 85px;
    width: 85px;
    border-radius: 85px;
}

#upper-wrapper {
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 200px;
    /* border: 1px solid red; */
}

#first-half-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#lower-wrapper {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 200px;
}

#privacy-policy-and-tos {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    width: 270px;
}

#privacy-policy-and-tos > a:hover {
    text-decoration: underline;
}

#copyright-container {
    display: flex;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

#footer-about-container {
    /* border: 1px solid blue; */
    width: 200px;
    display: flex;
    flex-direction: column;
    /* justify-items: center; */
    align-items: center;
}

#my-socials {
    /* border: 1px solid red; */
    width: 70px;
    display: flex;
    justify-content: space-between;
    margin-top: 0;
}

#linkedin-footer-logo, #github-footer-logo {
    height: 30px;
    width: 30px;
}

#footer-my-name {

}

#footer-1-github-footer-logo {
    width: 31px;
    height: 31px;
}

.footer-section-links > a:hover {
    text-decoration: underline;
}

#bug-report-button:hover {
    text-decoration: underline;
}
